@import './variables';
@import './mixins';

*{
    box-sizing: border-box;
}

html{
    background-color: black;
    background-image: url("../../images/Background-1200px.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

body{
    width: 800px;
    min-width: 400px;
    margin: 40px auto;
    margin-bottom: 150px;
}

p{
    @include paragraph-font;
}

H1{
    @include title-font;
}

H2{
    @include smallTitle-font;
}

.divider{    
    &__short{
        background-color: $accent-color;
            height: 2px;
            width: 100%;
            float: right;
    }
    &__semilong{
        background-color: $accent-color;
            height: 2px;
            width: 75%;
            float: right;
    }
    &__long{
        background-color: $accent-color;
        height: 2px;
        width: 100%;
        float: right;
        margin-top: 0,5em;
        margin-bottom: 1em;
        grid-column: 1 / span 3;
 
}
}