@import url("https://use.typekit.net/ncy3vol.css");

@mixin title-font{
    font-family: arno-pro-display, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.4em;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 1px;
}

@mixin smallTitle-font{
    font-family: arno-pro-display, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 1px;
}

@mixin paragraph-font{
    font-family: casablanca-urw, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.15em;
    margin: 0;
    padding: 0;
    color: white;
}

@mixin link-font{
    font-family: arno-pro-display, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.2em;
    text-decoration: none;
    font-size: 1.4em;
    color: white;
    &:hover{
        color: $hover-color;
    }
}

@mixin image-shaddow{
    -webkit-box-shadow: 0px 0px 200px 1px rgba(35,88,89,0.44);
    -moz-box-shadow: 0px 0px 200px 1px rgba(35,88,89,0.44);
    box-shadow: 0px 0px 200px 1px rgba(35,88,89,0.44);
}