@import './variables';
@import './mixins';

.navbar{
    height: 45px;
    &__logo{
        float: left;
        width:18%;
        margin-right: 7%;
    }
    &__linkContainer{
        padding-top: 20px;
        margin-bottom: 10px;
    }
    &__link{
        @include link-font;
        padding-right: 5.9em;
        padding-left: 4px;
    }
    &__link-right{
        @include link-font;
        padding-right: 0;
        
    }
}