@import url("https://use.typekit.net/ncy3vol.css");
@import './variables';
@import './mixins';

.navbar{
    height: 45px;
    &__logo{
        float: left;
        width:18%;
        margin-right: 7%;
    }
    &__linkContainer{
        padding-top: 10px;
    }
    &__link{
        @include link-font;
        padding-right: 3.8em;
        &:hover{
            color: $hover-color;
        }
       
    }
    &__link-right{
        @include link-font;
        padding-right: 0;
        &:hover{
            color: $hover-color;
        }
        
    }
}