@import url("https://use.typekit.net/ncy3vol.css");

$title-font: arno-pro-display serif 300 normal;
$link-font: arno-pro-display serif 300 normal;
$paragraph-font: casablanca-urw, sans-serif 300 normal;
$paragraph-bold-font: casablanca-urw, sans-serif 500 normal;
$accent-color: #00cfff;
$font-color: #fff;